
<h2>User info</h2>
<%= image_tag @user.get_profile_image(100,100) %>
<p>name <%= @user.name %></p>
<p>introduction <%= @user.introduction %></p>

<%= link_to "編集", edit_user_path(@user) %>

<h2>New Book</h2>
<%= form_with model: @book do |f| %>
  <label>Title</label>
  <%= f.text_field :title %>
  <label>Opinion</label>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>

<h2>Books</h2>
  <table>
    <thead>
      <th>Title</th>
      <th>Opinion</th>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= image_tag book.user.get_profile_image(100,100) %></td>
          <td><%= book.title %></td>
          <td><% book.body %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

