<%= render 'info', user: @user, book: @new_book %>

<h2>Book detail</h2>
<table>
  <tbody>
    <tr>
      <td><%= image_tag @book.user.get_profile_image(100,100) %></td>
      <td><%= link_to @book.title, book_path(@book) %></td>
      <td><%= @book.body %></td>
      <% if current_user == @book.user %>
        <td><%= link_to "Edit", edit_book_path(@book) %></td>
        <td><%= link_to "Destroy",book_path(@book),method: :delete %></td>
      <% end %>
    </tr>
    <tr>
      <td><%= link_to @book.user.name, user_path(@book.user)%></td>
    </tr>
</table>