<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'info', user: @user, book: @new_book %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td><%= image_tag @book.user.get_profile_image(100,100) %></td>
            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
            <% if current_user == @book.user %>
              <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy",book_path(@book),method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= link_to @book.user.name, user_path(@book.user)%></td>
          </tr>
      </table>
    </div>
  </div>
</div>
